@charset "UTF-8";

@font-face{
    font-family: 'cafepop';
    src: url(fonts/cafe_pop/CAFEPOP.TTF);
    font-weight: normal;
}
@font-face {
    font-family: 'cafeinadig';
    src: url(fonts/cafeina_dig/Cafed_v2.ttf) format(truetype);
    
}


:root{
    --cor0: #733D0E;
    --cor1: #D98B48;
    --cor2: #40281B;
    --cor3: #D9D3D0;
    --COR4: #260b05;

    --font-padrao: Arial, verdana, sans-serif;
    --font-destaque1: 'cafepop', display;
    --font-destaque2: 'cafeinadig';

}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor1);
    font-family: var(--font-padrao);
}
header{
    padding: 5px;
    
}
header h1{
    font-family: var(--font-destaque1);
    font-size: 4em;
    text-align: center;
    color: var(--COR4);
    margin-bottom: 0px;
    margin-top: 10px;
    min-height: 150px;
    padding-top: 5px;
    border: 3px solid var(--cor0);
    box-shadow: inset -1px 0px 5px var(--cor2);
    text-shadow: -2px -1px 0px var(--cor2);
}
nav{
    font-weight:bolder;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px ;
    text-align: center;
    width: 80%;
    background-color: var(--cor2);
    box-shadow: inset -3px -1px 4px var(--cor2);
    
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    text-shadow: 4px 1px black;
}
nav > a:hover{
    color: #D98B48;
}
nav > a:active{
    color: var(--COR2);
}
    

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset -2px 2px 8px var(--cor0);
}

main h1 {
    font-family: var(--font-destaque1);
    font-size: 2em;
}
main h2{
    background-color: var(--cor1);
    padding: 10PX;
}

main img{
    width: 100%;
}
#graocafe{
    display: block;
    padding: 25px 0px 25px 0px;
}
main p{
    font-family: var(--font-padrao);
    line-height: 1.3em;
    text-indent: 30px;

}
main h2{
    font-family: var(--font-destaque1);
    margin: 15px 0px 15px 0px;
}
main p {
    margin: 5px 0px 5px 0px;
    text-align: justify;
}
div{
    border: 3px solid var(--cor0);
    padding: 05px;
}
div h2{
    padding: 5px;
    border-radius: 3px;
    margin-top: 0px;
    box-shadow: -2px -1px 5px var(--cor0);
}

#div1{
    float: right;
    width: 47%;
    height: auto;
}
#div1 img{
    width: 45%;
    margin-left: 8px;
}

#div2{
    width: 47%;
}
#div2 img{
    width: 45%;
    margin-left: 8px;
}

footer{
    background-color: var(--COR4);
    border-radius: 10px;
    width: 100%;
    margin: auto;
    box-shadow: 5px -2px 6px var(--cor2);
}
footer p{
    color: white;
    padding: 10px;
    text-align: center;
}
footer p > a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bolder;
    
}
footer p > a:hover{
    text-decoration: underline;
}
footer p > a:active{
    color: var(--COR4)
}
